@model Lecture

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<div class="container">
    <h1>@Model.Title</h1>
    <div>@Model.Content</div>
    
    <a href="../../@Model.Attachment.Path">@Model.Attachment.Description</a>
    
    <p>Author : @Model.Course.Teacher.FullName</p>
</div>
