@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewBag.e1</p>
    <p>@ViewBag.e2</p>
    <a asp-controller="Course" asp-action="Courses">all courses</a><br>
    <a asp-controller="Users" asp-action="SignUp">signup</a><br>
    <a asp-controller="Users" asp-action="Login">login</a><br>
    <a asp-controller="Users" asp-action="Logout">logout</a><br>
    <a asp-controller="Course" asp-action="StudentCourses">student courses</a><br>
    <a asp-controller="Course" asp-action="TeacherCourses">created courses</a><br>
    <a asp-controller="Course" asp-action="CheckoutCourse">checkout course</a><br>
    <a asp-controller="Course" asp-action="ShowCourse">show course</a><br>
    <a asp-controller="Course" asp-action="ShowLecture">show lecture</a><br>
    <a asp-controller="Course" asp-action="CreateCourse">create course</a><br>
    <a asp-controller="Course" asp-action="CreateLecture">create lecture</a><br>
</div>