@using wiutLMS.ViewModels
@model wiutLMS.ViewModels.PersonViewModel

@{
    ViewBag.Title = "Signing up";
    Layout = "_Layout";
}


<div class="container text-left">
    <h1 class="display-4">Signing up</h1>
    <br>
    <form asp-controller="Users" asp-action="SignUp">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control"/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control"/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PersonMode"></label>
            <select asp-for="PersonMode" asp-items="@PersonViewModel.PersonModes"></select>
            <span asp-validation-for="PersonMode" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>
